[user]
	name = Nikos Fertakis
	email = nikos@skroutz.gr
[core]
	editor = emacsclient -a=\"\"
[alias]
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	ci = commit
	co = checkout
	g = grep
[push]
	default = simple
[grep]
	lineNumber = true
[url "git@github.skroutz.gr:"]
	insteadOf = deploy:
	insteadOf = skroutz:
	insteadOf = deploy:
	insteadOf = skroutz:
